body{
  font-family: Arial, sans-serif;
}
form{
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border:1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
label{
  display: block;
  margin-bottom: 10px:
}
input {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}
button[type="submit"] {
  width: 100%;
  height:40px;
  background-color: #4CAF50;
  color: #fff;
  border: name;
  border-radius: 5px;
  cursor; pointer;
}
